body {
  padding-top: 5rem;
  margin: 10px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar{
  background-color:#FF0061;
}

h1 {
  text-align: center;
}
p {
  text-align: left;
}
.text-muted{
  text-align: right;
}

.btn{
  background-color: #FF0061;
}
