section{
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000000;
 }
 #aboutme h2{margin-bottom: 25px;}

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar{
  background-color:#FF0061;
}
.img-wrap {
  width: 100%;
}
.img-wrap img {
  width: 100%;
  padding: 10px;
  border-radius: 50%;

}
.footer {
  margin-left: 20px;
  height: 10vh;
  color: #000000;
}
